.DS_Store
semantic.cache
bin/

pylode/pyLODE

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/onto-publ-demo.owl
src/ontology/onto-publ-demo.obo
src/ontology/onto-publ-demo.json
src/ontology/onto-publ-demo-base.*
src/ontology/onto-publ-demo-basic.*
src/ontology/onto-publ-demo-full.*
src/ontology/onto-publ-demo-simple.*
src/ontology/onto-publ-demo-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-onto-publ-demo-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
